.input {
        @include span(12 of 12 no-gutters);
        @include translateZ(50); //hack to create composite layer
        margin-bottom: rhythm(.5, 16px);
        padding: rhythm(1, 16px) span(1 of 12) rhythm(.5, 16px) span(1 of 12);
        color: $black;
    &-choose {
        border-radius: .25em;
        margin-top: rhythm(6, 16px);
        padding: 0 span(1 of 12);
        &-beer {
            @include span(6 of 12 no-gutters);
            text-align: center;
            @extend %base-font;
            padding: rhythm(.25, 16px) 0;
            margin-top: 0;
            border: .1em solid $cyan;
            border-right: none;
            border-radius: .25em 0 0 .25em;
            background-color: lighten($white, 5%);
        }
        &-whiskey {
            @extend .input-choose-beer;
            border-right: .1em solid $cyan;
            border-radius: 0 .25em .25em 0;
        }
    }
    &-label {
        @include span(5 of 12 no-gutters);
        padding: rhythm(.5, 16px) 0;
        @extend %small-font;
    }
    &-type {
        &-text {
            @extend %small-font;
            width: 55%;
            padding: rhythm(.25, 16px) 0 rhythm(.25, 16px) .375em;
            margin-bottom: rhythm(1, 16px);
            border: .1em solid $cyan;
            border-radius: .25em;
            color: $black;
            &:focus {
                @include box-shadow(0 0 .7em rgba($cyan, .6));
            }
        }
    }
    &-preview {
        color: $black;
        &-header {
            padding: rhythm(.25, 16px) 0;
            border-top: .05em solid $cyan;
            border-bottom: .05em solid $cyan;
            @extend %weight-regular;
        }
        &-item {
            margin: rhythm(.25, 16px) 0;
        }
    }
    &-submit {
        @include span(12 of 12 no-gutters);
        @extend %base-font;
        color: $black;
        padding: rhythm(.5, 16px);
        text-align: center;
        background-color: $yellow;
        border: .1em solid $cyan;
        border-radius: .25em;
    }
}

.typeActive {
    background-color: $yellow;
}