.input {
    @include span(12 of 12 no-gutters);
    @include translateZ(50); //hack to create composite layer
    margin-bottom: rhythm(.5, 16px);
    padding: rhythm(1, 16px) span(1 of 12) rhythm(.5, 16px) span(1 of 12);
    color: $black;

    &-choose {
        border-radius: .25em;
        margin-top: rhythm(1, 16px);
        padding: 0 span(1 of 12);
        &-beer {
            @extend %chooser-button;
            border-right: none;
            border-radius: .25em 0 0 .25em;
        }
        &-whiskey {
            @extend %chooser-button;
            border-right: .1em solid $blue-grey-half-dark;
            border-radius: 0 .25em .25em 0;
        }
    }

    &-label {
        @include span(5 of 12 no-gutters);
        padding: rhythm(.5, 16px) 0;
        @extend %small-font;
        &-radio {
            position: relative;
            cursor: pointer;
            display: inline-block;
            margin-right: 0;
        }
    }

    &-type {
        &-text {
            @extend %small-font;
            width: 55%;
            padding: rhythm(.25, 16px) 0 rhythm(.25, 16px) .375em;
            margin-bottom: rhythm(1, 16px);
            border-top: transparent;
            border-right: transparent;
            border-left: transparent;
            border-bottom: .1em solid $blue-grey-half-dark;
            background-color: transparent;
            color: $black;
            &:focus {
                @include box-shadow(0 0 .7em rgba($blue-grey-half-dark, .6));
            }
        }
        &-radio {
            @include span(12 of 12 no-gutters);
            padding: rhythm(.25, 16px) 0 rhythm(.25, 16px) .375em;
            margin-bottom: rhythm(1, 16px);
        }
    }

    &-preview {
        color: $black;
        &-header {
            $bleed-width: span(1 of 12)+gutters(12);
            @include bleed-x($bleed-width $bleed-width);
            padding-top: rhythm(.25, 16px);
            padding-bottom: rhythm(.25, 16px);
            border-top: .05em solid $blue-grey-half-dark;
            border-bottom: .05em solid $blue-grey-half-dark;
            @extend %weight-regular;
            background: rgba($blue-grey-almost-white, .25);
        }
        &-item {
            margin: rhythm(.25, 16px) 0;
        }
    }

    &-submit {
        @include span(12 of 12 no-gutters);
        @extend %base-font;
        color: $black;
        padding: rhythm(.5, 16px);
        text-align: center;
        background-color: rgba($yellow, .65);
        border: .1em solid $blue-grey-half-dark;
        border-radius: .25em;
    }
}

.typeActive {
    background-color: $blue-grey-almost-white;
}

input[type=radio] {
    margin: rhythm(.55, 16px) 0;
    &:last-of-type {
        margin-left: gutters(4);
    }
}