//Courtesy: http://sassmeister.com/gist/d1b14280c6160f91f295
@function lighten-new($color, $amount: 0%) {
    @if $amount == 0 {$amount: 0%;}
    @return lighten($color, ($amount/100%) * (100% - lightness($color)));
}

@function darken-new($color, $amount: 0%) {
    @if $amount == 0 {$amount: 0%;}
    @return darken($color, ($amount/100%) * (lightness($color)));
}

$blue: rgb(96, 96, 159);
$purple: rgb(117, 88, 154);
$cyan: rgb(82, 118, 146);
$cyan-lite: lighten-new($cyan, 75%);
$cyan-dark: darken-new($cyan, 45%);
$yellow: rgb(227, 201, 121);
$black: rgb(75, 75, 75);
$black-dark: darken-new($black, 50%);
$black-lite: lighten-new($black, 45%);
$white: rgb(240, 240, 240);

// $gradient-fade: linear-gradient(right, $white 0%, transparent 25%);


