//Courtesy: http://sassmeister.com/gist/d1b14280c6160f91f295
@function lighten-new($color, $amount: 0%) {
    @if $amount == 0 {$amount: 0%;}
    @return lighten($color, ($amount/100%) * (100% - lightness($color)));
}

@function darken-new($color, $amount: 0%) {
    @if $amount == 0 {$amount: 0%;}
    @return darken($color, ($amount/100%) * (lightness($color)));
}

$blue-grey-white: rgb(236,239,241);
$blue-grey-almost-white: rgb(207,216,220);
$blue-grey: rgb(96,125,139);
$blue-grey-half-dark: rgb(96,125,139);
$blue-grey-darkest: rgb(38,50,56);
$yellow: rgb(227, 201, 121);
$black: rgb(75, 75, 75);
$black-lite: lighten-new($black, 45%);