%lists-item {
    @include span(12 of 12 no-gutters);
    @include pad(1,1);
    padding-bottom: rhythm(1, 16px);
    border-bottom: .1em solid $cyan;
    color: $black;
    text-decoration: none;
}
%lists-detail {
    position: relative;
    @include span(12 of 12 no-gutters);
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

%lists-right {
    @include adjust-font-size-to(14px);
}

%lists-left {
    color: $black-lite;
}
%search {
    @extend %base-font;
    width: 100%;
    height: rhythm(2, 16px);
    padding-left: span(1);
    background: lighten($white, 5%);
    border-style: solid;
    border-color: $cyan;
    border-width: .1em 0 .1em 0;
    &:active {
        border-width: .15em 0 .15em 0;
    }
    &:focus {
        border-width: .15em 0 .15em 0;
    }
}

%tabs-buttons {
    position: relative;
    @include span(2 of 12 no-gutters);
    @include squish(.2, .2);
    height: inherit;
    text-align: center;
    @extend %xlarge-font;
    text-decoration: none;
    color: $cyan;
    cursor: pointer;
    @include susy-breakpoint($bp-large, $columns-large) {
        @include span(4 of 24);
    }
}

@mixin lob-owl {
    > * + * {
        margin-top: rhythm(1, 16px);
    }
}