@font-face {
  font-family: "MerriweatherSans";
  src: url('/styles/fonts/merriweathersans-light.eot');
  src: url('/styles/fonts/merriweathersans-light.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/merriweathersans-light.woff') format('woff'), url('/styles/fonts/merriweathersans-light.ttf') format('truetype'), url('/styles/fonts/merriweathersans-light.svg') format('svg');
}
@font-face {
  font-family: "BeerTrail";
  src: url('/styles/fonts/BeerTrail.eot');
  src: url('/styles/fonts/BeerTrail.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/BeerTrail.woff') format('woff'), url('/styles/fonts/BeerTrail.ttf') format('truetype'), url('/styles/fonts/BeerTrail.svg') format('svg');
}
@font-face {
  font-family: "BoozeCloset";
  src: url('/styles/fonts/BoozeCloset.eot');
  src: url('/styles/fonts/BoozeCloset.eot?#iefix') format('embedded-opentype'), url('/styles/fonts/BoozeCloset.woff') format('woff'), url('/styles/fonts/BoozeCloset.ttf') format('truetype'), url('/styles/fonts/BoozeCloset.svg') format('svg');
}
/* line 106, ../../../../../.rvm/gems/ruby-2.1.0@sassthreepointthree/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/* line 64, ../../app/styles/helpers/_typography.scss */
.input-label, .input-type-text {
  font-size: 0.75em;
  line-height: 1.5em;
}
@media (min-width: 37.5em) {
  /* line 64, ../../app/styles/helpers/_typography.scss */
  .input-label, .input-type-text {
    font-size: 0.75em;
    line-height: 1.5em;
  }
}

/* line 67, ../../app/styles/helpers/_typography.scss */
.search-beers, .search-whiskey, .nav-item, .input-choose-beer, .input-choose-whiskey, .input-submit {
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 37.5em) {
  /* line 67, ../../app/styles/helpers/_typography.scss */
  .search-beers, .search-whiskey, .nav-item, .input-choose-beer, .input-choose-whiskey, .input-submit {
    font-size: 1em;
    line-height: 1.5em;
  }
}

/* line 76, ../../app/styles/helpers/_typography.scss */
.header-back-button, .header-home-button, .header-beer-button, .header-whiskey-button, .header-add-button, .header-title {
  font-size: 1.75em;
  line-height: 1.5231428571em;
}
@media (min-width: 37.5em) {
  /* line 76, ../../app/styles/helpers/_typography.scss */
  .header-back-button, .header-home-button, .header-beer-button, .header-whiskey-button, .header-add-button, .header-title {
    font-size: 2.375em;
    line-height: 1.4962105263em;
  }
}

/* line 86, ../../app/styles/helpers/_typography.scss */
.input-preview-header {
  font-weight: 400;
}

/* line 11, ../../../../../.rvm/gems/ruby-2.1.0@sassthreepointthree/gems/susy-2.1.1/sass/susy/language/susy/_box-sizing.scss */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../app/styles/helpers/_placeholders.scss */
.list-item {
  width: 100%;
  float: left;
  padding-left: 9.297335383%;
  padding-right: 9.297335383%;
  padding-bottom: 1.5em;
  border-bottom: 0.1em solid #527692;
  color: #4b4b4b;
  text-decoration: none;
}

/* line 9, ../../app/styles/helpers/_placeholders.scss */
.list-item-detail {
  position: relative;
  width: 100%;
  float: left;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 18, ../../app/styles/helpers/_placeholders.scss */
.list-item-detail-right {
  font-size: 0.875em;
  line-height: 1.7142857143em;
}

/* line 22, ../../app/styles/helpers/_placeholders.scss */
.list-item-detail-left {
  color: #9c9c9c;
}

/* line 25, ../../app/styles/helpers/_placeholders.scss */
.search-beers, .search-whiskey {
  width: 100%;
  height: 3em;
  padding-left: 8.3333333333%;
  background: #fdfdfd;
  border-style: solid;
  border-color: #527692;
  border-width: .1em 0 .1em 0;
}
/* line 34, ../../app/styles/helpers/_placeholders.scss */
.search-beers:active, .search-whiskey:active {
  border-width: .15em 0 .15em 0;
}
/* line 37, ../../app/styles/helpers/_placeholders.scss */
.search-beers:focus, .search-whiskey:focus {
  border-width: .15em 0 .15em 0;
}

/* line 42, ../../app/styles/helpers/_placeholders.scss */
.header-back-button, .header-home-button, .header-beer-button, .header-whiskey-button, .header-add-button {
  width: 16.6666666667%;
  float: left;
  margin-left: 1.6666666667%;
  margin-right: 1.6666666667%;
  text-align: center;
  text-decoration: none;
  color: #d2dde6;
  text-shadow: 0 0 1px black;
  cursor: pointer;
}
/* line 51, ../../app/styles/helpers/_placeholders.scss */
.header-back-button:active, .header-home-button:active, .header-beer-button:active, .header-whiskey-button:active, .header-add-button:active {
  text-shadow: 0 0 1em #f0f0f0;
}
@media (min-width: 64em) {
  /* line 42, ../../app/styles/helpers/_placeholders.scss */
  .header-back-button, .header-home-button, .header-beer-button, .header-whiskey-button, .header-add-button {
    width: 8.3333333333%;
    float: left;
    padding-left: 0.4820010249%;
    padding-right: 0.4820010249%;
  }
}

/* line 1, ../../app/styles/components/_body.scss */
body {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  height: 100%;
  font-family: "MerriweatherSans", helvetica, arial, sans-serif;
  @extent %weight-ultralight;
  background-color: #f0f0f0;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.1.0@sassthreepointthree/gems/susy-2.1.1/sass/susy/output/support/_clearfix.scss */
body::after {
  content: " ";
  display: block;
  clear: both;
}

/* line 1, ../../app/styles/components/_header.scss */
.header {
  position: fixed;
  bottom: 0px;
  width: 100%;
  float: left;
  z-index: 100;
  text-align: center;
  background-color: #527692;
  color: #f0f0f0;
  border-top: 0.1em solid #75589a;
}
/* line 10, ../../app/styles/components/_header.scss */
.header-title {
  display: none;
  width: 66.6666666667%;
  float: left;
  padding-left: 0.9640020497%;
  padding-right: 0.9640020497%;
  margin: 0;
}
@media (min-width: 64em) {
  /* line 10, ../../app/styles/components/_header.scss */
  .header-title {
    display: block;
    width: 83.3333333333%;
    float: left;
    padding-left: 0.4820010249%;
    padding-right: 0.4820010249%;
    padding: 0;
  }
}
/* line 30, ../../app/styles/helpers/_font-icons.scss */
.header-back-button:before {
  content: "\e603";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BoozeCloset", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}
@media (min-width: 64em) {
  /* line 21, ../../app/styles/components/_header.scss */
  .header-back-button {
    margin: 0;
  }
}
/* line 30, ../../app/styles/helpers/_font-icons.scss */
.header-home-button:before {
  content: "\e604";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BoozeCloset", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}
@media (min-width: 64em) {
  /* line 28, ../../app/styles/components/_header.scss */
  .header-home-button {
    margin: 0;
  }
}
/* line 30, ../../app/styles/helpers/_font-icons.scss */
.header-beer-button:before {
  content: "\e601";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BoozeCloset", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}
@media (min-width: 64em) {
  /* line 35, ../../app/styles/components/_header.scss */
  .header-beer-button {
    display: none;
  }
}
/* line 30, ../../app/styles/helpers/_font-icons.scss */
.header-whiskey-button:before {
  content: "\e600";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BoozeCloset", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}
@media (min-width: 64em) {
  /* line 42, ../../app/styles/components/_header.scss */
  .header-whiskey-button {
    display: none;
  }
}
/* line 30, ../../app/styles/helpers/_font-icons.scss */
.header-add-button:before {
  content: "\e602";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-family: "BoozeCloset", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: none;
  speak: none;
}
@media (min-width: 64em) {
  /* line 49, ../../app/styles/components/_header.scss */
  .header-add-button {
    display: none;
  }
}
@media (min-width: 64em) {
  /* line 1, ../../app/styles/components/_header.scss */
  .header {
    width: 100%;
    float: left;
    position: fixed;
    bottom: auto;
    top: 0px;
    border-bottom: 0.1em solid #75589a;
  }
}

/* line 66, ../../app/styles/components/_header.scss */
.tab-active {
  background: rgba(45, 65, 80, 0.55);
  -moz-box-shadow: inset 0 -0.1em 0 0 rgba(227, 201, 121, 0.9);
  -webkit-box-shadow: inset 0 -0.1em 0 0 rgba(227, 201, 121, 0.9);
  box-shadow: inset 0 -0.1em 0 0 rgba(227, 201, 121, 0.9);
  border-left: 0.05em solid rgba(240, 240, 240, 0.3);
  border-right: 0.05em solid rgba(240, 240, 240, 0.3);
}

/* line 1, ../../app/styles/components/_nav.scss */
.nav {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  float: left;
  overflow: hidden;
  *zoom: 1;
  z-index: 100;
  background-color: #f0f0f0;
  border-bottom: 0.1em solid #75589a;
  border-top: 0.1em solid #75589a;
}
/* line 11, ../../app/styles/components/_nav.scss */
.nav-item {
  width: 33.3333333333%;
  float: left;
  padding: 0.75em 0;
  border-right: 0.1em solid #75589a;
  text-align: center;
  text-decoration: none;
  color: #4b4b4b;
  background: rgba(227, 201, 121, 0.5);
}
/* line 20, ../../app/styles/components/_nav.scss */
.nav-item:first-of-type {
  border-left: 0.1em solid #75589a;
}
@media (min-width: 64em) {
  /* line 1, ../../app/styles/components/_nav.scss */
  .nav {
    display: block;
    top: 3.9em;
  }
}

/* line 30, ../../app/styles/components/_nav.scss */
.nav-active {
  outline: none;
  background-color: rgba(227, 201, 121, 0.9);
  -moz-box-shadow: inset 0 -0.3em 0 0 rgba(82, 118, 146, 0.6);
  -webkit-box-shadow: inset 0 -0.3em 0 0 rgba(82, 118, 146, 0.6);
  box-shadow: inset 0 -0.3em 0 0 rgba(82, 118, 146, 0.6);
}

/* line 1, ../../app/styles/components/_content.scss */
.content {
  width: 100%;
  float: left;
  padding: 0 0 1.5em;
}
/* line 60, ../../app/styles/helpers/_placeholders.scss */
.content > * + * {
  margin-top: 1.5em;
}
@media (min-width: 64em) {
  /* line 1, ../../app/styles/components/_content.scss */
  .content {
    width: 100%;
    float: left;
    padding-left: 25.4820010249%;
    padding-right: 25.4820010249%;
    padding-top: 7.125em;
    padding-bottom: 1.5em;
  }
}

/* line 1, ../../app/styles/components/_search.scss */
.search {
  margin-top: 1.5em;
}

/* line 60, ../../app/styles/helpers/_placeholders.scss */
.list > * + * {
  margin-top: 1.5em;
}

/* line 1, ../../app/styles/components/_input.scss */
.input {
  width: 100%;
  float: left;
  -moz-transform: translateZ(50);
  -webkit-transform: translateZ(50);
  transform: translateZ(50);
  margin-bottom: 0.75em;
  padding: 1.5em 8.3333333333% 0.75em 8.3333333333%;
  color: #4b4b4b;
}
/* line 8, ../../app/styles/components/_input.scss */
.input-choose {
  border-radius: .25em;
  margin-top: 1.5em;
  padding: 0 8.3333333333%;
}
/* line 12, ../../app/styles/components/_input.scss */
.input-choose-beer, .input-choose-whiskey {
  width: 50%;
  float: left;
  text-align: center;
  padding: 0.375em 0;
  margin-top: 0;
  border: 0.1em solid #527692;
  border-right: none;
  border-radius: .25em 0 0 .25em;
  background-color: #fdfdfd;
}
/* line 23, ../../app/styles/components/_input.scss */
.input-choose-whiskey {
  border-right: 0.1em solid #527692;
  border-radius: 0 .25em .25em 0;
}
/* line 30, ../../app/styles/components/_input.scss */
.input-label {
  width: 41.6666666667%;
  float: left;
  padding: 0.75em 0;
}
/* line 34, ../../app/styles/components/_input.scss */
.input-label-radio {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 0;
}
/* line 44, ../../app/styles/components/_input.scss */
.input-type-text {
  width: 55%;
  padding: 0.375em 0 0.375em 0.375em;
  margin-bottom: 1.5em;
  border-top: transparent;
  border-right: transparent;
  border-left: transparent;
  border-bottom: 0.1em solid #527692;
  background-color: transparent;
  color: #4b4b4b;
}
/* line 55, ../../app/styles/components/_input.scss */
.input-type-text:focus {
  -moz-box-shadow: 0 0 0.7em rgba(82, 118, 146, 0.6);
  -webkit-box-shadow: 0 0 0.7em rgba(82, 118, 146, 0.6);
  box-shadow: 0 0 0.7em rgba(82, 118, 146, 0.6);
}
/* line 59, ../../app/styles/components/_input.scss */
.input-type-radio {
  width: 100%;
  float: left;
  padding: 0.375em 0 0.375em 0.375em;
  margin-bottom: 1.5em;
}
/* line 66, ../../app/styles/components/_input.scss */
.input-preview {
  color: #4b4b4b;
}
/* line 68, ../../app/styles/components/_input.scss */
.input-preview-header {
  padding: 0.375em 0;
  border-top: 0.05em solid #527692;
  border-bottom: 0.05em solid #527692;
}
/* line 74, ../../app/styles/components/_input.scss */
.input-preview-item {
  margin: 0.375em 0;
}
/* line 79, ../../app/styles/components/_input.scss */
.input-submit {
  width: 100%;
  float: left;
  color: #4b4b4b;
  padding: 0.75em;
  text-align: center;
  background-color: #e3c979;
  border: 0.1em solid #527692;
  border-radius: .25em;
}

/* line 91, ../../app/styles/components/_input.scss */
.typeActive {
  background-color: #e3c979;
}

/* line 95, ../../app/styles/components/_input.scss */
input[type=radio] {
  margin: 0.825em 0;
}
/* line 97, ../../app/styles/components/_input.scss */
input[type=radio]:last-of-type {
  margin-left: 2.8920061491%;
}

/* line 1, ../../app/styles/animations/_content.scss */
.content {
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
}

/* line 5, ../../app/styles/animations/_content.scss */
.content.ng-enter {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  transition-delay: 0.75s;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 10, ../../app/styles/animations/_content.scss */
.content.ng-enter.ng-enter-active {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* line 14, ../../app/styles/animations/_content.scss */
.content.ng-leave {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* line 18, ../../app/styles/animations/_content.scss */
.content.ng-leave.ng-leave-active {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 1, ../../app/styles/animations/_input-form.scss */
.input-animate {
  -moz-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -webkit-transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
}

/* line 5, ../../app/styles/animations/_input-form.scss */
.input-animate.ng-enter {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-delay: 0.75s;
  -o-transition-delay: 0.75s;
  -webkit-transition-delay: 0.75s;
  transition-delay: 0.75s;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

/* line 10, ../../app/styles/animations/_input-form.scss */
.input-animate.ng-enter.ng-enter-active {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* line 14, ../../app/styles/animations/_input-form.scss */
.input-animate.ng-leave {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.75s;
  -o-transition-duration: 0.75s;
  -webkit-transition-duration: 0.75s;
  transition-duration: 0.75s;
  -moz-transform: translate3d(0%, 0, 0);
  -webkit-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

/* line 19, ../../app/styles/animations/_input-form.scss */
.input-animate.ng-leave.ng-leave-active {
  -moz-transition-property: all;
  -o-transition-property: all;
  -webkit-transition-property: all;
  transition-property: all;
  -moz-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
