    <section class="input-choose">
        <button class="input-choose-beer"  ng-model="boozeform.type" name="type" ng-click="beerToggle()" ng-class="{'typeActive': !beerVisible, 'typeActive': beerVisible}">Beer</button>
        <button class="input-choose-whiskey" ng-model="boozeform.type" name="type" ng-click="whiskeyToggle()" ng-class="{'typeActive': !whiskeyVisible, 'typeActive': whiskeyVisible}">Whiskey</button>
    </section>

    <section beer-input ng-if="beerVisible"></section beer-input>
    <section whiskey-input ng-if="whiskeyVisible"></section whiskey-input>
