    <section class="input-choose">
        <button class="input-choose-beer"  ng-model="iC.boozeform.type" name="type" ng-click="activeForm = 'beerForm'; iC.boozeType('beer') " ng-class="{'typeActive': activeForm === 'beerForm'}">Beer</button>
        <button class="input-choose-whiskey"  ng-model="iC.boozeform.type" name="type" ng-click="activeForm = 'whiskeyForm'; iC.boozeType('whiskey') " ng-class="{'typeActive': activeForm === 'whiskeyForm'}">Whiskey</button>
    </section>

    <section ng-switch="activeForm">
        <section class=" input-animate" beer-input ng-switch-when="beerForm"></section>
        <section class=" input-animate" whiskey-input ng-switch-when="whiskeyForm"></section>
    </section>