<form name="whiskeyInput" class="input" ng-submit="boozeForm.saveBooze()" novalidate>

    <label for="distiller" class="input-label">Distiller:</label>
    <input type="text" name="company" ng-model="boozeForm.company" placeholder="Tap Me" class="input-type-text">

    <label for="booze-name" class="input-label">Whiskey Name:</label>
    <input type="text" name="name" ng-model="boozeForm.name" placeholder="Tap Me" class="input-type-text">

    <label for="purchasedfrom" class="input-label">Purchased From:</label>
    <input type="text" name="purchasedfrom" ng-model="boozeForm.purchasedfrom" placeholder="Tap Me" class="input-type-text">

    <label for="date" class="input-label">Purchased On:</label>
    <input type="date" name="purchasedon" ng-model="boozeForm.purchasedon" class="input-type-text" value={{boozeForm.purchasedon}>

    <label for="purchased-amount" class="input-label">Purchase Amount:</label>
    <input type="number" step="any" name="price" ng-model="boozeForm.price" placeholder="Tap Me" class="input-type-text">

    <label for="status" class="input-label">Comments:</label>
    <input type="textarea" name="status" ng-model="boozeForm.status" placeholder="Tap Me" class="input-type-text">

    <div class="input-preview">
        <h2 class="input-preview-header">Preview:</h2>
        <p class="input-preview-item">Whiskey Name: {{boozeForm.name}}</p>
        <p class="input-preview-item">Distiller: {{boozeForm.company}}</p>
        <p class="input-preview-item">Purchased From: {{boozeForm.purchasedfrom}}</p>
        <p class="input-preview-item">Purchased On: {{boozeForm.purchasedon | date: MM-dd-yyyy}}</p>
        <p class="input-preview-item">Purchase Amount: ${{boozeForm.price}}</p>
        <p class="input-preview-item">Type: {{boozeForm.type}}</p>
        <p class="input-preview-item">Comments: {{boozeForm.status}}</p>
    </div>

    <input type="submit" name="submit" value="Save New Booze" class="input-submit" ng-disabled="whiskeyInput.$invalid" />

</form>
